<ng-container *ngIf="render">
  <ion-header>
    <ion-toolbar>
      <ion-title mode="ios">Renungan Harian</ion-title>
      <ion-buttons slot="end">
        <ion-toggle slot="end" mode="ios" [checked]="darkMode" (ionChange)="toggleDarkMode()"></ion-toggle>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-content class="ion-padding">
    <ion-refresher mode="md" slot="fixed" (ionRefresh)="handleRefresh($event)">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <div class="devotion-container">
      <div class="devotion-header">
        <span class="title">{{ devotionData.Title }}</span>
        <span class="title"> {{ devotionData.Date | date:'d MMMM' }} </span>
      </div>
      <div class="devotion-content">
        <h3>Bacaan : {{ devotionData.Passage }}</h3>
        <div [innerHTML]="devotionData.Content"></div>
      </div>
    </div>
  </ion-content>
</ng-container>